body {
  display: block;
  position: absolute;
  width: 100%;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .carousel-caption {
        font-size: 10px;
    }
}

.navbar {
  background-color: #1F4D7F;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, p {
  font-family: 'Nunito', sans-serif;
}
input, textarea {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: #1F4D7F;
  font-weight: bold;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel {
  margin-top: 50px;
  height: auto;
  width: 100%;
}
.carousel-caption p {
  font-size: 1.5em;
  height: auto;
}
.carousel-images {
  width: 100%;
  margin: 0 auto;
}

/* web-tech icons */
#specialty, #portfolio, #contact {
  padding: 50px;
}
.portfolio-div {
  background: #d2d2d2;
}
#portfolio .col-xs-12 {
  margin-bottom: 50px;
}
.header {
  margin-bottom: 50px;
}
.tech-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}
#specialty p {
  margin-bottom: 70px;
  font-size: 20px;
}
.screenshots {
  display: block;
  margin: auto;
  height: 150px;
  opacity: 1;
  border: 1px solid #000;
}

/* Not for mobile phones */
@media not screen and (max-width: 768px) {
  .screenshots {
    display: block;
    margin: auto;
    height: 200px;
    opacity: 0.9;
  }
  .screenshots:hover {
    display: block;
    opacity: 1;
    border: 3px solid #000;
    border-radius: 3px;
    height: 250px;
    position: absolute;
  }
  #contact p {
    font-size: 20px;
  }
  .item {
    height: 680px;
  }
}

/* contact form */
.floating-label {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 0.5em;
}
.floating-label input,
.floating-label textarea {
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none !important;
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    resize: none;
}
.floating-label label {
  pointer-events: none;
  display: block;
  position: relative;
  top: 2em;
  opacity: 0;
  z-index: 0;
  font-size: 0.85em;
  line-height: 1.7em;
  vertical-align: baseline;
  margin: 0;
  transition: 0.5s;
}
.floating-label-with-value label {
    top: 0;
    opacity: 1;
    color: darkblue;
    transition: 0.5s;
}
.floating-label-with-focus label {
    color: #428bca;
}
.btn-success {
  border-radius: 1px;
  box-shadow: 3px 3px 3px #ccc;
  margin: 20px 0px;
}

/* footer */
footer {
  background-color: #1F4D7F;
  color: #ccc;
  padding: 20px 10px;
}
footer .col-md-4:last-child {
  text-align: center;
}
p > a {
  color: #ccc;
}
.last .fa {
  font-size: 28px;
  color: #cccccc;
  margin-right: 20px;
}
p > a:hover, .fa:hover {
  color: #fff;
}
h3 {
  text-align: left;
}
hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ccc, rgba(0, 0, 0, 0));
}
