body {
  position: relative;
}
.navbar {
  background-color: #1F4D7F;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h5, p {
  font-family: 'Nunito', sans-serif;
}
input,textarea {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: #1F4D7F;
  font-weight: bold;
}

/* carousel */
.carousel, .item {
  height: 690px;
  margin-top: 15px;
}
.carousel-caption p {
  font-size: 21px;
  line-height: normal;
}
.carousel-images {
  width: 1355px;
  height: 690px;
}

/* web-tech icons */
#specialty, #portfolio, #contact {
  /*margin: 50px 0px;*/
  padding: 50px;
}
.portfolio-div {
  background: #ccd8ff;
}
.specialty-header,
.portfolio-header,
.contact-header {
  margin-bottom: 50px;
}
.tech-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}
.icons1 {
  margin-bottom: 50px;
}
.icons1 p, .icons2 p {
  font-size: 20px;
}
.screenshots {
  display: block;
  margin: auto;
  height: 250px;
  opacity: 0.8
}
.screenshots:hover {
  opacity: 1;
  border: 3px solid #000;
  border-radius: 3px;
  height: 280px;
  position: absolute;
}
#portfolio .row {
  margin-bottom: 100px;
}
/* contact form */
.floating-label {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 0.5em;
}
.floating-label input,
.floating-label textarea {
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none !important;
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    resize: none;
}
.floating-label label {
  pointer-events: none;
  display: block;
  position: relative;
  top: 2em;
  opacity: 0;
  z-index: 0;
  font-size: 0.85em;
  line-height: 1.7em;
  vertical-align: baseline;
  margin: 0;
}
.floating-label-with-value label {
    top: 0;
    opacity: 1;
    color: darkblue;
}
.floating-label-with-focus label {
    color: #428bca;
}
.btn-success {
  border-radius: 1px;
  box-shadow: 3px 3px 3px #ccc;
  margin: 20px 0px;
}

.fa {
  font-size: 28px;
  color: #ccc;
  margin-right: 20px;
}

/* footer */
footer {
  background-color: #1F4D7F;
  color: #ccc;
  padding: 20px 10px;
}
p > a {
  color: #ccc;
}
p > a:hover, .fa:hover {
  color: #fff;
}
h3 {
  text-align: left;
}
hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ccc, rgba(0, 0, 0, 0));
}
